body {
    font-family: Charter;
    font-size: 18px;
}

.mdict b {
    font-family: Avenir;
    font-size: 18px;
}

.gddictname {
    font-size: 16px;
}

.gdactivearticle .gddictname {
    font-size: 16px;
    background-color: #fefdeb;
    color: #36b;
}
.gddicticon {
    display: none;
}
