html {
    background: #EBE3E1;
}

body {
    background: #EBE3E1;
    font-family: Charter;
    font-size: 18px;
}

.mdict, .gdarticle {
    background: #F8F5F4;
}

.mdict b {
    font-family: Avenir;
    font-size: 18px;
}

.gddictname {
    font-size: 16px;
}

.gdactivearticle .gddictname {
    font-size: 16px;
    background-color: #EBE3E1;
    color: #103B78;
}
.gddicticon {
    display: none;
}
